<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[          
          akka.persistence {
              
              journal {
                plugin = "akka.persistence.journal.sql-server"                
                sql-server {
                      class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
                      plugin-dispatcher = "akka.actor.default-dispatcher"

                      # connection string used for database access
                      connection-string = "Server=tcp:cart-akka.database.windows.net,1433;Initial Catalog=cart-eventstore;Persist Security Info=False;User ID=akkaadmin;Password=Akka123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
                      # can alternativly specify: connection-string-name

                      # default SQL timeout
                      connection-timeout = 30s

                      # SQL server schema name
                      schema-name = dbo

                      # persistent journal table name
                      table-name = EventJournal

                      # initialize journal table automatically
                      auto-initialize = on

                      timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"
                      metadata-table-name = Metadata
                }
              }             
          }
      ]]>
    </hocon>
  </akka>
</configuration>